@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
    font-family: "Source Sans Pro";
    background-color: #eee;
    width: 70%;
    margin: auto;
}

h1, h2, h4, h5 {
    text-shadow: 3px 3px 3px lightgrey;
}

h1 {
    font-family: "Abril Fatface";
    text-align: center;
}

h2, h4 {
    font-family: "Roboto Slab";
}

h5 {
    color: #dd3232;
    font-weight: bold;
}

.newspaper-container {
    background-color: white;
    box-shadow: #ddd;
    border-radius: 10px;
    width: 700px;
    padding: 1em;
    margin: 2em 0;
}

a {
    color: #777;
    text-decoration: none;
}

li {
    list-style: none;
    display: inline-block;
    padding: 0 0.25em;
}

p {
    padding: 1em;
}

section {
    display: inline-block;
    /* width: 45%; */
    width: 300px;
    margin: auto;
    padding: 1.4em;
}

nav {
    margin: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
    background-color: white;

}

.more-articles {
    border-top: 1px solid #eee;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}